@import "tailwindcss";

@font-face {
  font-family: "Pecita";
  src: url("./assets/fonts/Pecita.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-pecita: "Pecita", cursive;
  --font-heading: "Sniglet", system-ui;
  --font-body: "Poppins", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}